{% extends 'base.html.twig' %}
{% block breadcrumb %}
    <a href="{{ path('local_index') }}">
       {{ 'local.list.name'|trans }}
    </a>
{% endblock %}
	 {% block breadcrumbActive %}{{ 'local.edit.name'|trans }}{% endblock %}
{% block body %}
<div data-widget-group="group1">
    <div class="panel panel-primary" data-widget='{"draggable": "false"}'>
        <div class="panel-heading">
            <h2><i class="ti ti-pencil-alt"></i> {{ 'local.edit.name'|trans }}</h2>
            <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
        </div>
        <div class="panel-editbox" data-widget-controls=""></div>
        {{ form_start(edit_form ,{
                        'attr' : { 'class' : 'form-horizontal row-border' } 
                    }) }}
        <div class="panel-body">
	        {{ form_widget(edit_form) }}
            
        </div>
        <div class="panel-footer">
            <div class="pull-right">
                <button class="btn btn-primary " type="submit">
                    <i class="ti ti-pencil-alt"></i>
                    {{ 'local.edit.submit'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}
