{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
<div class="panel panel-inbox" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
        <div class="inbox-mail-heading">
                <div class="clearfix">
                    <div class="pull-left">
                        
                        <div class="btn-group">
                            <a href="#" class="btn btn-lg btn-default"><i class="ti ti-reload"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        <div class="panel-body messages messages-img">
            <div class="col-sm-12" style="margin-bottom: 2%;margin-top: 2%;">

                {% for message in thread.messages %}
                    {% if message.sender == app.user.username %}

                        <div class="item item-visible">
                            <div class="image">
                                <img src="{{ asset('bundles/isetsomagazine/img/User-icon.png')}}">
                            </div>                                
                            <div class="text">
                                <div class="heading">
                                    <a href="#">{{ message.sender }}</a>
                                    <span class="date">{{ message.createdAt|date}}</span>
                                </div>                                    
                                {{ message.body|wordwrap(20) }}
                            </div>
                        </div>
                    
                    {% else %}
                        
                        <div class="item in item-visible">
                            <div class="image">
                                <img src="{{ asset('bundles/isetsomagazine/img/User-icon.png')}}">
                            </div>                                
                            <div class="text">
                                <div class="heading">
                                    <a href="#">{{ message.sender }}</a>
                                    <span class="date">{{ message.createdAt|date}}</span>
                                </div>                                    
                                {{ message.body|wordwrap(20) }}
                            </div>
                        </div>
                    
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer">
            <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
                {{ form_widget(form._token) }}
                
                    {{ form_widget(form.body, { 'attr': {'class': 'form-control' ,'rows' : '1'} }) }}
                    <div style="margin-top: 1%;">
                        <button type="submit" class="btn btn-primary">{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</button>
                    </div>
                
                 
            </form>  
        </div>
    </div>
{% endblock %}
