<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="PFE">
    <meta name="author" content="BelhassenRami">

    {% block stylesheets %}
        {% stylesheets 
            'bundles/isetsomagazine/fonts/font-awesome/css/font-awesome.min.css'
            'bundles/isetsomagazine/fonts/themify-icons/themify-icons.css'
            'bundles/isetsomagazine/css/styles.css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <style type="text/css">
        thead {display: table-header-group;}
        tr {page-break-inside: avoid;}
        div{page-break-inside: avoid;}
    </style>
</head>
<body style="background-color: white;">
    <div class="page-content" >
        <div class="container-fluid">                 
            <div class="row mb-xl">
                <div class="col-md-12" style="padding-top: 5%">
                    <div class="pull-left">
                        <h1 class="text-primary text-center" style="font-weight: bold; font-size:12pt; color: black">INSTITUT SUPÉRIEUR<br>DES ÉTUDES TECHNOLOGIQUES<br>SOUSSE
                        </h1>
                    </div>
                    <div class="pull-right">
                        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/isetsomagazine/img/logo-big.png') }}" class="mt-md mb-md" alt="ISETSO">
                    </div>
                </div>
            </div>
            <div class="row mb-xl">
                <div class="col-md-12">
                    <h1 class="text-primary text-center" style="font-weight: bold; color: black">
                        {{ 'magazine.titel'|trans }}
                    </h1>
                </div>
            </div>
            <div class="row mb-xl">
                <div class="col-md-3">
                    <div class="panel panel-teal" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                        <div class="panel-heading"></div>
                        <div class="panel-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                    <th class="text text-primary">{{ 'magazine.field.date'|trans }}</th>
                                    <td>
                                        {% if journal.dateEntre %}
                                            {{ journal.dateEntre|date('Y-m-d H:i:s') }}
                                        {% endif %}
                                    </td>
                                  </tr>
                                  
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.type'|trans }}</th>
                                    <td>{{ journal.type }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.origin'|trans }}</th>
                                    <td>{{ journal.origin.designation }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.userName'|trans }}</th>
                                    <td>{{ journal.user.username }}</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                        <div class="panel-heading">{{ 'magazine.field.provider'|trans }}</div>
                        <div class="panel-body no-padding">
                            <table class="table table-striped">
                                
                                <tbody>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.socialReason'|trans }}</th>
                                    <td>{{ journal.provider.socialReason }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.phone'|trans }}</th>
                                    <td>{{ journal.provider.phone }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.address'|trans }}</th>
                                    <td>{{ journal.provider.address }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.fax'|trans }}</th>
                                    <td>{{ journal.provider.fax }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.email'|trans }}</th>
                                    <td>{{ journal.provider.email }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.contact'|trans }}</th>
                                    <td>{{ journal.provider.contact }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text text-primary">{{ 'magazine.field.userName'|trans }}</th>
                                    <td>{{ journal.provider.user.username }}</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"> {{ 'supportingdocument.list.name'|trans }}</div>
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr class="info">
                                <th class="text text-primary">#</th>
                                <th class="text text-primary">{{ 'magazine.field.designation'|trans }}</th>
                                <th class="text text-primary">{{ 'magazine.field.price'|trans }}</th>
                                <th class="text text-primary">{{ 'magazine.field.quantity'|trans }}</th>
                                <th class="text text-primary">{{ 'magazine.field.unit'|trans }}</th>
                                <th class="text text-primary">{{ 'magazine.field.family'|trans }}</th>
                                <th class="text text-primary">{{ 'magazine.field.subFamily'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for supportingDocument in journal.supportingDocument %}
                                <tr>
                                    <td>{{ supportingDocument.inventoryNumber }}</td>
                                    <td>{{ supportingDocument.article.designation }}</td>
                                    <td>{{ supportingDocument.price }}</td>
                                    <td>{{ supportingDocument.quantity }}</td>
                                    <td>{{ supportingDocument.article.unit.designation }}</td>
                                    <td>{{ supportingDocument.article.subFamily.designation }}</td>
                                    <td>{{ supportingDocument.article.subFamily.family.designation }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> <!-- .container-fluid -->
    </div> <!-- #page-content --> 
    
</body>
</html>
