{% extends 'base.html.twig' %}
{% block breadcrumbActive %}{{ 'journalconsumable.list.name'|trans }}{% endblock %}
{% block body %}
    <div class="pull-right animated slideInDown">
        <a class="btn btn-success" href="{{ path('journalconsumable_new') }}">
                <i class="fa fa-plus"></i> {{ 'journalconsumable.new.submit'|trans }}
            </a>    </div>
    </br></br></br>
<div data-widget-group="group1">
    <div class="row">
        <div class="pull-right col-md-5">
            <div class="panel panel-inverse panel-collapsed" data-widget="{"id" : "wiget1"}" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                    <h2><i class="ti ti-search"></i> {{ 'journalconsumable.list.search'|trans }}</h2>
                    <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                </div>
                <div class="panel-body" style="display: none;">
                    
                    {{ form_start(form ,{
                        'attr' : { 'class' : 'form-row' } 
                        
                    }) }}

                        <div class="form-group" >
                             {{ form_widget(form.search,{
                                'attr' : {
                                    'class' : 'form-control ' ,
                                    'placeholder' : 'family.list.search'
                                } 
                                
                            }) }}
                        </div>

                        <div class="form-group">
                            <div class="input-daterange input-group" id="datepicker-range">
                                {{ form_widget(form.dateStart,{
                                    'attr' : {
                                        'class' : 'form-control ' ,
                                    } 
                                    
                                }) }}
                                <span class="input-group-addon text-capitalize">
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                                {{ form_widget(form.dateEnd,{
                                    'attr' : {
                                        'class' : 'form-control ' 
                                    } 
                                    
                                }) }}
                            </div>
                        </div>

                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-warning-alt">
                                    <i class="ti ti-search"></i>
                                </button>
                                <button name="print" value="true" {{ padding|length == 0 ? 'disabled = "true"' : ""}} class="btn btn-info-alt">
                                <i class="ti ti-printer"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-list"></i> {{ 'journalconsumable.list.name'|trans }}</h2>
                    <div class="panel-ctrls">
                        <div id="example_filter" class="dataTables_filter pull-right">
                            <form method="POST">
                                <button name="print" value="true" {{ padding|length == 0 ? 'disabled = "true"' : ""}} class="btn btn-info">
                                    {{ "magazine.printAll"|trans }}
                                </button>
                            </form>
                            
                        </div>
                        <i class="separator"></i>
                        <div class="panel-heading pull-left">
                            <label class="panel-ctrls-center">
                               {{ padding.getTotalItemCount }}
                               {{ 'journalconsumable.list.resultFound'|trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                    <th class="text text-capitalize">
                                        {{ knp_pagination_sortable(padding, 'magazine.field.id'|trans , 'f.id') }}
                                        {% if padding.isSorted('f.id') %}
                                            
                                            {% if  padding.direction == 'asc' %}
                                                <span class='ti ti-angle-up pull-right'></span>
                                            {% else %}
                                                <span class='ti ti-angle-down pull-right'></span>
                                            {% endif %}
                                        {% else %}
                                            <i class='ti ti-more pull-right'></i>
                                        {% endif %}
                                    </th>
                                    <th class="text text-capitalize">
                                        {{ knp_pagination_sortable(padding, 'magazine.field.type'|trans , 'f.type') }}
                                        {% if padding.isSorted('f.type') %}
                                            
                                            {% if  padding.direction == 'asc' %}
                                                <span class='ti ti-angle-up pull-right'></span>
                                            {% else %}
                                                <span class='ti ti-angle-down pull-right'></span>
                                            {% endif %}
                                        {% else %}
                                            <i class='ti ti-more pull-right'></i>
                                        {% endif %}
                                    </th>
                                    <th class="text text-capitalize">
                                        {{ knp_pagination_sortable(padding, 'magazine.field.date'|trans , 'f.dateEntre') }}
                                        {% if padding.isSorted('f.dateEntre') %}
                                            
                                            {% if  padding.direction == 'asc' %}
                                                <span class='ti ti-angle-up pull-right'></span>
                                            {% else %}
                                                <span class='ti ti-angle-down pull-right'></span>
                                            {% endif %}
                                        {% else %}
                                            <i class='ti ti-more pull-right'></i>
                                        {% endif %}
                                    </th>
                                    <th class="text text-capitalize">
                                        {{ knp_pagination_sortable(padding, 'magazine.field.userName'|trans , 'u.username') }}
                                        {% if padding.isSorted('u.username') %}
                                            
                                            {% if  padding.direction == 'asc' %}
                                                <span class='ti ti-angle-up pull-right'></span>
                                            {% else %}
                                                <span class='ti ti-angle-down pull-right'></span>
                                            {% endif %}
                                        {% else %}
                                            <i class='ti ti-more pull-right'></i>
                                        {% endif %}
                                    </th> 
                                <th class="text text-capitalize text-primary"> {{ 'magazine.action'|trans }} </th>
                            </tr>
                        </thead>
                        <tbody>
                             {% if padding|length == 0 %} 
                                <td  class="text text-capitalize text-danger text-center animated fadeInUp" colspan="5">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ 'journalconsumable.list.noResultFound'|trans }}
                                    </p>
                                 </td>
                                  
                                {% else %}
                                {% for journalConsumable in padding %}
                                    <tr>
                                        <td>{{ journalConsumable.id }}</td>
                                        <td>{{ journalConsumable.type }}</td>
                                        <td>{% if journalConsumable.dateEntre %}
                                                {{ journalConsumable.dateEntre|date('Y/m/d') }}
                                            {% endif %}
                                        </td> 
                                         <td>{{ journalConsumable.user.username }}</td>
                                        <td>
                                            
                                            <div class="btn-group">
                                                <a href="{{ path('journalconsumable_edit', { 'id': journalConsumable.id }) }}" class="btn btn-info-alt"><i class="ti ti-pencil-alt"></i></a>
                                                <a href="#" data-box="#{{ journalConsumable.id }}" class="btn btn-danger-alt mb-control"><i class="ti ti-trash"></i></a>
                                                <a href="{{ path('journalconsumable_show', { 'id': journalConsumable.id }) }}" class="btn btn-success-alt"><i class="ti ti-info"></i></a>
                                            </div>
                                        </td>                                    <!-- MESSAGE BOX-->
                                            <div class="message-box animated fadeIn" data-sound="alert" id="{{ journalConsumable.id }}">
                                                <div class="mb-container">
                                                    <div class="mb-middle">
                                                        <div class="mb-title"><span class="ti ti-trash"></span> {{ 'journalconsumable.delete.name'|trans }} ?</div>
                                                        <div class="mb-content">
                                                            <p>{{ 'journalconsumable.delete.message'|trans }}</p>                    
                                                            
                                                        </div>
                                                        <div class="mb-footer">
                                                            <div class="pull-right">
                                                                <form action="{{ path('journalconsumable_delete', { 'id': journalConsumable.id }) }}" method="post">
                                                                    <input type="hidden" name="_method" value="DELETE" />
                                                                    {{ form_widget(deleteForms[ journalConsumable.id ]) }} 
                                                                    <button type="submit" class="btn btn-danger btn-lg">
                                                                        <i class="icon-trash"></i>
                                                                         {{ 'messageBox.yes'|trans }}
                                                                    </button>
                                                                </form>
                                                                <button class="btn btn-default btn-lg mb-control-close">
                                                                    {{ 'messageBox.no'|trans }}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- END MESSAGE BOX-->
                                    </tr>
                                {% endfor %}
                            {% endif %}
                         </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    {{ knp_pagination_render(padding) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?yui_js'
        'bundles/isetsomagazine/plugins/form-daterangepicker/moment.min.js'
        'bundles/isetsomagazine/plugins/bootstrap-datepicker/bootstrap-datepicker.js'
        'bundles/isetsomagazine/myjs/dateRange.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

