{% extends 'base.html.twig' %}
{% block body %}
    
<div class="row">
    <div class="col-sm-3">
        <a href="{{ url('fos_message_thread_new') }}" class="btn btn-lg btn-indigo btn-block mb-xl">
            {% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>
        
        <div class="list-group inbox-menu list-group-alternate">
            <a href="{{ url('fos_message_inbox') }}" class="list-group-item active"><i class="ti ti-email"></i>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %} <span class="badge badge-primary">{{ fos_message_nb_unread() }}</span></a>
            <a href="{{ url('fos_message_sent') }}" class="list-group-item"><i class="ti ti-share"></i>{% trans from 'FOSMessageBundle' %}sent{% endtrans %} </a>
            <a href="{{ url('fos_message_deleted') }}" class="list-group-item"><i class="ti ti-trash"></i>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>
        </div>
    </div><!-- col-sm-3 -->
    <div class="col-sm-9">
        {% block fos_message_content %}{% endblock %}
    </div>
</div>
{% endblock %}