<h4 class="small-heading more-margin-bottom text-capitalize">{{ 'menu.user.profile'|trans }}</h4>
<hr>
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ user.username }}</p>
    </div>
  </div><!-- /.form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ user.email }}</p>
    </div>
  </div><!-- /.form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ 'magazine.field.firstName'|trans }}</label>
    <div class="col-sm-10">
      <p class="form-control-static">
         {% if user.firstName == null%}
            <div class="text text-capitalize text-danger"> {{  'user.noInfo'|trans }} </div>
          {% else %}
            {{ user.firstName }}
          {% endif %}
      </p>
    </div>
  </div><!-- /.form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ 'magazine.field.lastName'|trans }}</label>
    <div class="col-sm-10">
      <p class="form-control-static">
         {% if user.lastName == null%}
            <div class="text text-capitalize text-danger"> {{  'user.noInfo'|trans }} </div>
          {% else %}
            {{ user.lastName }}
          {% endif %}
      </p>
    </div>
  </div><!-- /.form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ 'magazine.field.phone'|trans }}</label>
    <div class="col-sm-10">
      <p class="form-control-static">
         {% if user.phone == null%}
            <div class="text text-capitalize text-danger"> {{  'user.noInfo'|trans }} </div>
          {% else %}
            {{ user.phone }}
          {% endif %}
      </p>
    </div>
  </div><!-- /.form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ 'magazine.field.function'|trans }}</label>
    <div class="col-sm-10">
      <p class="form-control-static">
         {% if user.function == null%}
            <div class="text text-capitalize text-danger"> {{  'user.noInfo'|trans }} </div>
          {% else %}
            {{ user.function }}
          {% endif %}
      </p>
    </div>
  </div><!-- /.form-group -->
  </form>
