<div class="col-md-10 col-md-offset-1" data-widget-group="#group1" >
    <div id="group1" class="panel panel-primary">
        <div class="panel-heading">
            <h2><i class="ti ti-save-alt"></i> {{ form_name }}</h2>
            <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
        </div>
        <div class="panel-editbox" data-widget-controls=""></div>
        {{ form_start(form ,{'attr' : { 'class' : 'form-horizontal row-border' } }) }}
            <div class="panel-body">
                
                {{ form_widget(form) }}
                
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <button class="btn btn-primary " type="submit">
                        <i class="ti ti-save-alt"></i>
                        {{ submit_name }}
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>